.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 10px;
}

.tab-content{
  margin: 10px;
  padding: 5px;
}

.tab-body{
  height: 200px;
}

.percent-text-field{
  width: 100px;
}
