:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}
mat-drawer{
  width: 300px;
}

mat-drawer-container{
  height: 100%;
}

.title{
  vertical-align: middle;
}

span.se-form-side-pad{
  padding-right: 1rem;
  float: right;
}


.navbar{
  justify-content: space-between;
}
