<mat-toolbar color="primary" class="navbar">
  <span class="title">
  <mat-icon>money_off</mat-icon>plit<mat-icon>euro</mat-icon>xpense
  </span>
  <span class="se-form-side-pad">
  <button mat-raised-button type="button" (click)="home()">HOME</button> &nbsp; &nbsp;
  <button  mat-raised-button  type="button" (click)="logout()">LOGOUT</button>
  </span>
</mat-toolbar>

<mat-drawer-container>

  <mat-drawer mode="side" opened>
    <app-side-navigation></app-side-navigation>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>



